@import "tailwindcss";

@theme {
  --color-primary-600: #2563eb;
  --color-primary-500: #3b82f6;
}

/* VARIABLES SEMÁNTICAS */
:root {
  /* --- MODO CLARO --- */
  --bg-body: #f8fafc;
  --bg-card: #ffffff;
  --bg-input: #ffffff;

  --text-main: #0f172a; /* Slate-900 */
  --text-body: #334155; /* Slate-700 */
  --text-muted: #64748b; /* Slate-500 */

  --border-color: #e2e8f0; /* Slate-200 */
  --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.dark {
  /* --- MODO OSCURO --- */
  --bg-body: #020617;
  --bg-card: #0f172a;
  --bg-input: #1e293b;

  --text-main: #f8fafc;
  --text-body: #cbd5e1;
  --text-muted: #64748b;

  --border-color: #1e293b;
  --shadow-card: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-300 min-h-screen;
  background-color: var(--bg-body);
  color: var(--text-main);
  background-image: none;
}

:is(.dark body) {
  background-image: radial-gradient(
      ellipse 80% 60% at 50% -20%,
      #1e293b 0%,
      transparent 70%
    ),
    radial-gradient(circle at bottom, #020617 0%, #020617 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.card-base {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-card);
  @apply rounded-2xl transition-all duration-300;
}

/* --- ANIMACIONES REVEAL --- */
/* Estado inicial: invisible y desplazado */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

/* Estado final: visible (se activa con JS) */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal-delay-100 {
  transition-delay: 0.1s;
}
.reveal-delay-200 {
  transition-delay: 0.2s;
}
.reveal-delay-300 {
  transition-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full border-2 border-transparent bg-clip-content;
}
