@import "tailwindcss";

@theme {
  --color-primary-600: #2563eb;
  --color-primary-500: #3b82f6;
  --color-brand-purple: #4f46e5;

  --animate-reveal: reveal 0.8s cubic-bezier(0.5, 0, 0, 1) forwards;

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(30px);
      filter: blur(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
}

:root {
  /* --- MODO CLARO --- */
  --bg-body: #f8fafc;
  --bg-card: #ffffff;
  --bg-input: #ffffff;

  --text-main: #0f172a;
  --text-body: #334155;
  --text-muted: #64748b;

  --border-color: #e2e8f0;
  --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.dark {
  /* --- MODO OSCURO --- */
  --bg-body: #020617;
  --bg-card: #0f172a;
  --bg-input: #1e293b;

  --text-main: #f8fafc;
  --text-body: #cbd5e1;
  --text-muted: #64748b;

  --border-color: #1e293b;
  --shadow-card: none;
}

html {
  scroll-behavior: smooth;
}

body {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  min-height: 100vh;
  background-color: var(--bg-body);
  color: var(--text-main);
  background-image: none;
}

:is(.dark body) {
  background-image: radial-gradient(
      ellipse 80% 60% at 50% -20%,
      #1e293b 0%,
      transparent 70%
    ),
    radial-gradient(circle at bottom, #020617 0%, #020617 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.card-base {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-card);
  border-radius: 1rem;
  transition: all 0.3s;
}

/* --- ANIMACIONES REVEAL --- */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
  filter: blur(5px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.reveal-delay-100 {
  transition-delay: 0.1s;
}
.reveal-delay-200 {
  transition-delay: 0.2s;
}
.reveal-delay-300 {
  transition-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}
:is(.dark ::-webkit-scrollbar-thumb) {
  background-color: #334155;
}
