---
import '@/styles/global.css';

interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { 
  title, 
  description = "Full Stack Developer Portfolio", 
  lang = "es" 
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/public/favicon_io/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  
  <!-- El body ya no necesita clases de color, las toma de global.css -->
  <body>
    <div class="relative flex flex-col min-h-screen overflow-hidden">
        <slot />
    </div>
  </body>
</html>