---
import '@/styles/global.css';

interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { 
  title, 
  description = "Full Stack Developer Portfolio - React, Astro & Tailwind", 
  lang = "es" 
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/src/assets/favicon_io/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <!-- 
    ACTUALIZADO:
    dark:bg-primary-950 -> Usamos tu morado más oscuro como fondo
    dark:text-primary-100 -> Usamos tu lila claro para el texto
  -->
  <body class="bg-slate-50 dark:bg-primary-950 text-slate-900 dark:text-primary-100 transition-colors duration-300 min-h-screen">
    
    <div class="relative flex flex-col min-h-screen overflow-hidden">
        <slot />
    </div>

  </body>
</html>