---
// Si Vercel falla o en desarrollo local, esto hará el trabajo.
return Astro.redirect('/es');
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/es" />
  </head>
  <body>
  </body>
</html>